*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    display: flex;
    flex-direction: column;
    height: 140px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}
#navbar img{
    /* border: 2px solid red; */
    height: 65px;
    position: absolute;
    top: 0;
    left: 20%;
}
#navbar .navcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#navbar .navcontainer ul a{

    padding: 4px;
    left: 2px;
    margin-top:8px;
    font-size: 1.1rem;

}

#home:before{
    height: 550px;
}
#Agenda .continer{
    height: 630px;
    flex-direction: column;
}
#Agenda .box img{
    height: 199px;
    width: 98%;
   
}

